[Unit]
Description=Player Piano

[Service]
ExecStart=/home/piano/player_piano/start_service.sh
ExecStop=/usr/bin/pkill -f "bin/crossbar start"

[Install]
WantedBy=default.target
