<table class='table tracklist' data-tracks-type="{{tracks_type}}">
  <thead>
    <tr><th class='col-md-6'>{{title|safe}}</th>
      {% if show_tracks %}
      <th class='col-md-1'>Length</th>
      {% endif %}
    </tr>
  </thead>
  
  {% if show_tracks %}
    {% for link in links %}
      <tr><td><a class="track" data-playlist="{{link['playlist']}}" data-collection="{{link['collection']}}" href="{{link['href']}}">{{link.name}}</a></td><td>{{link['length']}}</td></tr>
    {% endfor %}
  {% else %}
    {% for link in links %}
      <tr><td><a href="{{link['href']}}">{{link.name}}</a></td></tr>
    {% endfor %}
  {% endif %}
</table>

