<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width,
                                       initial-scale=1">
        <title>Piano Player - {% block title %}{% endblock %}</title>
         
        <link rel="stylesheet" href="/static/lib/bootstrap-3.1.1-dist/css/bootstrap.css" />
        <link rel="stylesheet" href="/static/css/app.css" />
        <link href='http://fonts.googleapis.com/css?family=Philosopher'
              rel='stylesheet' type='text/css'>
        <script src="/static/lib/jquery-2.1.0.min.js"></script>
        <script src="/static/js/player.js"></script>
        <script src="/static/js/search.js"></script>
        <script src="/static/js/library.js"></script>
        <script src="/static/js/queue.js"></script>
        <script src="/static/js/about.js"></script>
        <script src="/static/js/util.js"></script>
        <script src="/static/js/app.js"></script>
        <script src="/static/lib/bootstrap-3.1.1-dist/js/bootstrap.js"></script>
        <script src="/static/lib/jquery.dataTables.min.js"></script>
        <script src="/static/lib/slip.min.js"></script>
        <script src="/static/lib/nunjucks.min.js"></script>

        <link href="data:image/x-icon;base64,AAABAAEAEBAQAAAAAAAoAQAAFgAAACgAAAAQAAAAIAAAAAEABAAAAAAAgAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAenp6AL29vQD///8AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACIiAiIgIiIAAAAAAAAAAAAzMwMzMDMzADMzAzMwMzMAMzMDMzAzMwAzMwMzMDMzADMxETMREzMAMzAAMwADMwAzMAAzAAMzADMwADMAAzMAMzAAMwADMwAzMAAzAAMzADMwADMAAzMAMzAAMwADMwAAAAAAAAAACEIQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA" rel="icon" type="image/x-icon" />

      {% block head %}
      {% endblock %}


        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
            <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
            <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
            <![endif]-->

    <style type="text/css">
      {% block style %}
      {% endblock %}
    </style>

    </head>
    <body>
      <div id="container">
      <nav class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="async navbar-brand" href="/">Piano Player</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li><a class="async" href="/queue">Queue</a></li>
              <li><a class="async" href="/library">Library</a></li>
            </ul>

            <form class="navbar-form navbar-left disabled" role="search">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Search">
              </div>
              <button type="submit" class="btn btn-default">Submit</button>
            </form>
            
            <ul class="nav navbar-nav navbar-right">
              <li><a class="async" href="/upload">Upload Music</a></li>
              <li><a class="async" href="/about">About</a></li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div id="queue_container">
      </div>
      
      <div id="async_container">
      </div>
      
      {% block body %}
      {% endblock %}
</div>


<!-- About dialog -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close dismiss" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="aboutModalLabel">Piano Player</h4>
      </div>
      <div class="modal-body">
        <div>
          Copyright 2015 <a target="_new" href="http://www.mcguirepiano.com">McGuire
          Piano</a>. All rights reserved.
        </div>
        <hr/>
        <div>
          <table>
            <tr><td class='col-md-2'>
                <img style="float:left"
                     src="http://i.creativecommons.org/l/by-sa/3.0/de/88x31.png">
              </td>
              <td>
                Classical midi files provided by Bernd Kruger from
                  the <a target="_new" href='http://www.piano-midi.de/'>Classical Piano midi
                  page</a>. Used <a target="_new" href='http://www.piano-midi.de/copy.htm'>by permission</a> under Creative Commons
                license.
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default dismiss" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="site-footer">
  <div id="player">
  </div>  
</div>


</body>
</html>
